.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: hsl(var(--bg-color) / 1);
	max-width: 850px;
	margin: auto;
	position: relative;
}

header {
	font-family: var(--ff-cursive);
	font-size: 1.64rem;
	color: hsl(var(--c-header) / 0.4);
	user-select: none;
	position: absolute;
	left: 0rem;
	top: -1rem;
	transform-origin: left;
	transform: rotate(90deg) translateY(-50%);
}

main {
	display: grid;
	place-content: center;
	z-index: 10;
}

footer {
	font-size: 0.65rem;
	display: flex;
	flex-direction: column;
	place-content: center;
	position: absolute;
	bottom: 0;
	padding-bottom: 0.25rem;
}
footer > p {
	text-align: center;
	color: var(--c-footer);
}

a {
	color: var(--c-link);
}
a:visited {
	color: var(--c-link-v);
}
a:hover {
	color: var(--c-link-h);
}

@media only screen and (max-height: 600px) {
	header {
		font-size: 1.24rem;
		position: absolute;
		top: 0;
	}
}

.swlist {
	list-style: none;
	position: absolute;
	top: -20px;
	position: fixed;
	left: -50px;
	z-index: 0;
}
